$primary-color: #89EEB2;
$logo-font: 'PT Sans Caption';

@import 'margin';

.logo {
  color: $primary-color;
  font-family: $logo-font;
  font-size: 20px;
}

.primary-color.primary-color {
  background-color: #89EEB2;
}

.primary-color.primary-color:hover {
  background-color: #89EEB2;
}

.navbar.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 52px;
}

.nav-dropdown.nav-dropdown {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
  position: absolute;
  top: 52px;
  right: 0;
}